/* -------------- Nav Bar -------------- */
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0; 
    color:#ffffff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav 
.nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f2f2f2;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #e6e6e6;
}

nav {
    z-index: 5;
    /*display: inline-block;*/
}

.navbar {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size:14px;
    padding: 0;
}
#navbarNav {
    margin-right:25px;
    padding-top: 15px;
}


/* .nav-link::after {
    content:"/";
    margin-left:10px;
    float:right;
}

.nav-link:last-child::after {
    visibility:hidden;
}
 */


.navbar li a::after {
    content:"/";
    margin-left:10px;
    float:right;
}

.navbar li:last-child a::after {
    visibility:hidden;
} 
/*end of navbar*/

/* Setting the padding to zero for bootstrap container to be full width*/
.padding-0{
    padding-right:0;
    padding-left:0;
}
/* -------------- SECTION ONE IMAGE -------------- */
.topImg{
    width: 100%;
    z-index: 1;
    /* margin-top: -56px; */
    position: relative;
}

#brandTitle{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;  
    /* transform: translate(-50%, -50%); */
    z-index: 3;
}
/*Section one Just Brunch*/
#brandTitle h1{
    position: absolute;
    font-size: 137pt;
    letter-spacing: 10px;
    transform: translate(-50%, -50%);
}
#brandTitle h6 {
    position: absolute;
    font-size: 33pt;
    letter-spacing: 5px;
    transform: translate(32%, 120%);
}



/* -------------- SECTION TWO About -------------- */
/*Images */ 
#mealAbout {
    width: 90%;
    float: right;
}

#graySqu {
    width: 88%;
    /* margin-top: 68px;
    margin-left: 50px; */
    margin-top: 20%;
    margin-left: 15%; 
}

/*Text*/
/*============== Style OKAY AT 1075px Needs to be responsive*/
#aboutContent{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;  
    /* transform: translate(-50%, -50%); */
    z-index: 3;
}
#aboutContent h1 {
    position: absolute;
    font-size: 94pt;
    font-family: 'Roboto', sans-serif;
    color: #c48a80;
    letter-spacing: 10px;
    transform: translate(-63%, 329%);
}

#aboutContent p{
    position: absolute;
    font-size: 10pt;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    width: 423px;
    letter-spacing: 10px;
    transform: translate(-99%, 220%);
}


/* -------------- SECTION THREE get brunch -------------- */
#mealBrunch {
    width: 70%;
    float: left;
    margin-top: 15%;
}

/* -------------- SECTION FOUR reservation -------------- */
#reservImg{
    margin-top: 15%;
    width:100%;
}

.container {
    display: inline-block;
}

.centered {
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 15px;
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
}


/* -------------- SECTION FIVE Events -------------- */
#eventImg {
    margin-top: 15%;
    margin-right: 10px;
    width: 85%;
    float: right;
}


/* -------------- SECTION SIX Get in Touch and footer -------------- */
#mapFooter{
    width: 100%;
}
.mapImg{
    margin-top: 15%;
    width: 100%;
    position: relative;
    z-index: 0;
}

/* Footer Nav */
#bottomNav{
    z-index: 3;
    position: absolute;
    width: 100%;
    margin-top: -80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transform: rotate(-1.6deg);
    margin-left: 10px;
    font-size: 25px;
}
#bottomNav a {
    color: #dcbaab;
    padding-left: 50px;   
}
#bottomNav a:hover {
    color:#fff;   
}


#footerImg{
    width:100%;
    position: absolute;
    z-index: 2; 
    bottom: 0;
}


/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
     /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 110pt;
        letter-spacing: 10px;
    }

    #brandTitle h6 {
        font-size: 26pt;
        letter-spacing: 5px;
    }
    
    /*Section four Reservations*/
    .centered {
        font-size: 50px;
        letter-spacing: 11px;
    }



    /* Footer Nav */
    #bottomNav {
        font-size: 20px;
        margin-top: -60px;
        margin-left: 0;
    }

    #bottomNav a{
        padding-left: 40px;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {

    /* -------------- nav dropdown for smaller screens -------------- */
    button.navbar-toggler.ml-auto{
       z-index: 3;
       transform: translate(-10px, 10px);
    }
    .navbar-collapse.ml-auto.collapsing {
        background: #bf9a89 !important;
        text-align: center !important;
        border-bottom: 1px solid #000;
        margin-top: -40px;
        z-index: 2;
    }

    .navbar-collapse.ml-auto.collapse.show {
        background: #bf9a89 !important;
        text-align: center !important;
        border-bottom: 1px solid #000;
        margin-top: -40px;
        z-index: 2;
    }
     .navbar li a::after {
        content: none;
    } 

    #navbarNav {
        margin-right: 0px;
        padding-top: 0px;

    }
    
    .navbar-light .navbar-toggler {
        background: #fff;
    }

    .fixed-top {
        position: absolute;
    }

    .fixed-top.scrolled {
        margin-right: 0;
        background-color: #fff !important;
        transition: background-color 200ms linear;
    }

     /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 62pt;
        letter-spacing: 10px;
    }

    #brandTitle h6 {
        font-size: 15pt;
        letter-spacing: 5px;
    }

 /*Section four Reservations*/
    .centered {
        font-size: 35px;
        letter-spacing: 11px;
    }

    /* Footer Nav */
    #bottomNav {
    font-size: 16px;
    margin-top: -50px;
    }

    #bottomNav a{
        padding-left: 25px;
    }


} 

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

     /*Section four Reservations*/
    .centered {
    font-size: 36px;
    letter-spacing: 11px;
    }

    /* Footer Nav */
    #bottomNav {
        font-size: 15px;
        margin-top: -45px;
    }

    #bottomNav a{
        padding-left: 20px;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 670px) {


    /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 50pt;
        letter-spacing: 10px;
    }

    #brandTitle h6 {
        font-size: 12pt;
        letter-spacing: 5px;
    }

     /*Section four Reservations*/
    .centered {
        font-size: 20px;
        letter-spacing: 11px;
    }


        /* Footer Nav */
    #bottomNav {
        font-size: 12px;
        margin-top: -40px;
    }

    #bottomNav a{
        padding-left: 10px;
    }

} 


/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 556px) {
    /*Smaller navbar toggle at smaller screen*/
    .navbar-toggler-icon {
        width: 1em;
        height: 1em;
    }

    /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 40pt;
        letter-spacing: 10px;
    }

    #brandTitle h6 {
        font-size: 11pt;
        letter-spacing: 2px;
    }

 /*Section four Reservations*/
    .centered {
        font-size: 15px;
        letter-spacing: 11px;
    }


    /* Footer Nav */
    #bottomNav {
    font-size: 12px;
    font-weight: 200;
    margin-top: -30px;
    }

    #bottomNav a{
        padding-left: 10px;
    }

} 
/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width:481px) {

    /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 27pt;
        letter-spacing: 10px;
    }

    #brandTitle h6 {
        font-size: 8pt;
        letter-spacing: 2px;
    }
    /* Footer Nav */
    #bottomNav {
    font-size: 10px;
    font-weight: 300;
    margin-top: -25px;
    }

    #bottomNav a{
        padding-left: 8px;
    }
}

/*media query for footer nav to make it fit better*/
@media (max-width:370px){

    /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 24pt;
        letter-spacing: 5px;
    }

    #brandTitle h6 {
        font-size: 9pt;
        letter-spacing: 1px;
    }

    /* Footer Nav */
    #bottomNav {
    font-size: 9px;
    font-weight: 300;
    margin-top: -20px;
    }

    #bottomNav a{
        padding-left: 7px;
    }
}

@media (max-width:330px) { 
    /*change nav toggle menu placement on large screens*/
    button.navbar-toggler.ml-auto {
        transform: translate(-2px, 2px);
    }

    /*Section one Just Brunch*/
    #brandTitle h1 {
        font-size: 22pt;
        letter-spacing: 5px;
    }

    #brandTitle h6 {
        font-size: 8pt;
        letter-spacing: 1px;
    }

        /* Footer Nav */
    #bottomNav {
    font-size: 8px;
    font-weight: 200;
    margin-top: -20px;
    }

    #bottomNav a{
        padding-left: 4px;
    }

 }